body {
  height: 100vh;
  background-image: url(./bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 360px;
  border-radius: 10px;
  margin: 20px auto;
  padding: 10px;
  font-size: 50px;
  color: blue;
  background-color: aqua;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.1), 1px 1px 1px rgba(0, 0, 0, 0.5), 23px -2px 13px rgba(206, 89, 55, 0.16);
}
.field {
  margin: 0 auto;
  width: 360px;
  height: 360px;
  border: 5px solid rgba(20, 223, 40, 0.988);
  background: no-repeat linear-gradient(135deg, #d1cde4 0%, #afaf7e 67%, #dae1b7 100%);
  border-radius: 10px;
  position: relative;
}
.cell {
  box-sizing: border-box;
  width: 90px;
  height: 90px;
  border: 3px solid rgb(38, 18, 129);
  border-radius: 10px;
  background: linear-gradient(180deg, rgb(33, 91, 238), rgb(223, 241, 28));
  position: absolute;
  font-size: 50px;
  font-weight: 800;
  transition: all 0.3s;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}
